.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 50px;
  background:black;
}

/* RIGHT MENU */
.nav-right{
  display:flex;
  align-items:center;
  gap:25px;
}

/* NAV LINKS */
.nav-right a{
  color:white;
  text-decoration:none;
  font-size:16px;
  font-weight:500;
  transition: all 0.3s ease;
}

/* HOVER EFFECT */
.nav-right a:hover{
  color:#00e676;
  transform: translateY(-4px);
}

/* CLICK ANIMATION */
.nav-right a:active{
  animation: navBounce 0.4s ease 3;
}

/* BOUNCE KEYFRAMES */
@keyframes navBounce{

  0%{
    transform: translateY(0);
  }

  25%{
    transform: translateY(-8px);
  }

  50%{
    transform: translateY(6px);
  }

  75%{
    transform: translateY(-4px);
  }

  100%{
    transform: translateY(0);
  }

}

/* LOGIN BUTTON */
.login-btn{
  border:1px solid #00e676;
  padding:8px 18px;
  border-radius:6px;
  margin-bottom: 2%;
}

/* SIGNUP BUTTON */
.signup-btn{
  background:#00e676;
  color:black !important;
  padding:8px 18px;
  border-radius:6px;
}

/* THEME BUTTON */
.theme-btn{
  font-size:22px;
  cursor:pointer;
}

/* LOGO */
.logo-img{
  height:45px;
}

/* BOUNCE ANIMATION */
@keyframes bounce{

  0%{transform: translateY(0);}

  30%{transform: translateY(-7px);}

  50%{transform: translateY(4px);}

  70%{transform: translateY(-3px);}

  100%{transform: translateY(0);}

}
.profile{
position: relative;
cursor: pointer;
}

.user-name{
color: white;
font-weight: 600;
margin-left: 20px;
cursor: pointer;
}

.dropdown{
position: absolute;
top: 45px;
right: 0;
background: white;
width: 200px;
border-radius: 12px;
box-shadow: 0px 6px 18px rgba(0,0,0,0.2);
padding: 15px;
display: flex;
flex-direction: column;
gap: 10px;
z-index: 100;
}

.time-btn{
background:#f1f1f1;
border:none;
padding:10px;
border-radius:6px;
font-size:14px;
color:#333;
}
.logout-btn{
width:100%;
background:#e53935 ;
border:none;
padding:10px;
border-radius:8px;
color:white;
font-weight:600;
cursor:pointer;
transition:0.3s;
}


.logout-btn:hover{
background:#c62828;
}